<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Your Articles</title>
</head>
<body>
{% if all %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Content heading</th>
      <th scope="col">Content</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for alls in all%}
    <tr>
      <th scope="row">{{alls.article_heading}}</th>
      <td>{{alls.article_content}}</td>
      <td><a href="{% url 'updateArticle' alls.id %}">Edit</a>
        <form action="{% url 'deleteArticle' alls.id %}" method="post">{% csrf_token %}
          <input type="submit" class="btn btn-danger" value="delete"></form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h6>There is no articles from you!</h6>
{% endif %}
</body>
</html>
{% endblock %}