<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form class="form-inline" action="{% url 'updateArticle' paticular_data.id %}" method="POST" >
    {% csrf_token %}
<div class="form-group">
    <label for="content"><h3>Update Your Article here!</h3></label>
    <div>
        <textarea class="form-control" rows="3" id="heading" name="heading" required >{{paticular_data.article_heading}}</textarea>
    </div>
  <textarea class="form-control" rows="10" id="content" name="content" required >{{paticular_data.article_content}}</textarea>
    <button type="submit" class="btn btn-dark">update</button>
</div>
</form>
</body>
</html>
{% endblock %}

